<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionSQLServer" connectionString="Data Source=LUISMAGALHAES\instanciasql;Initial Catalog=PORTALIT_WEB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="connectionServerPicagem" connectionString="C:\Users\Luis Magalhaes\Google Drive\Servidor Rest\"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="RestBehavior">
            <webHttp helpEnabled="true"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="Service" behaviorConfiguration="ServiceBehavior">
        <endpoint name="SOAPEndPoint" contract="IServiceSoap" binding="basicHttpBinding" address="soap" />
        <endpoint name="RESTEndPoint" contract="IServiceRest" binding="webHttpBinding" address="rest" behaviorConfiguration="RestBehavior"/>
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex"/>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>