<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connectionSQLServer" connectionString="Data Source=LUISMAGALHAES\instanciasql;Initial Catalog=PORTALIT_WEB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="connectionServerPicagem" connectionString="C:\Users\Luis Magalhaes\Google Drivee\Servidor Rest\"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <customErrors mode="Off"/>
    <globalization culture="pt-PT" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>